body {
  background-color: #e9ebf0;
  font-family: Helvetica, Arial;
  /* color:turquoise; */
 }

.header {
  background-color: #d50059;
  padding: 10px;
 }
.header h1 {
  color: #fff;
 }

.wrapper {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: auto;
  padding: 30px;
  /* width: 50%; */
 }
.wrapper p {
  font-style: italic;
  color: #666;
 }

 .wrapper label {
  display: block;
 }
 .wrapper input {
  /* width: 600px; */
  padding: 3px 6px;
 }
 .amount-input {
  margin-bottom: 10px;
 }
 textarea {
  height: 200px;
  margin-bottom: 10px;
  /* background-color: #dda2bb; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: none;
}
 .wrapper select {
  display: block;
 }
 .button {
  margin: 10px 2px;
  padding: 5px 20px;
  border-radius: 8px;
  background-color: #d50059;
  border: none;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: small;
 } 
 .button:hover {
  cursor: pointer;
  opacity: 0.75;
 }
 button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
 .wrapper hr {
  margin: 40px auto;
 }

 @media only screen and (min-width: 1400px) {
  .wrapper {
  width: 40%;
  }
  .wrapper input {
  width: 600px;
  }
 }
 @media only screen and (max-width: 1399px) and (min-width: 750px) {
  .wrapper {
  width: 40%;
  }
  .wrapper input {
  width: 400px;
  }
 }

 .vertical {
  border-left: 1px solid black;
  height: 100%;
  position:absolute;
  left: 50%;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
  z-index: 14;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}