html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  background-color: #e9ebf0;
  font-family: Helvetica, Arial;
  /* color:turquoise; */

 }

#root {
  height: 100%;
  position: relative;
  width: 100%; 
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.graphBox {
 width:100%;
 height:100%;
 overflow:hidden;
 display: flex;
 flex-direction: row;
 background-color: #cddaff;
}

.graphBoxLeft {
  height: 100%;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graphBoxRight{
  width: 100%;
  height: 100%;
}

.graph-box-right__open-note-button {
  height: 2rem;
  background-color: rgb(128, 0, 128);
  width: 2rem;
  margin: 0;
  padding: 0;
  min-width: 0 !important;
}

.graph-box-right__open-note-button-container {
  position: absolute;
  margin: 0.5rem;
  width: 2rem;
  z-index: 10;
}

.wrapper {
  padding: 1rem;
  background-color: purple;
  border-radius: 1%;
  margin: 0.5rem 0.5rem;
  box-shadow: 0px 1px 4px 1px grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cyto {
  background-color: #cddaff;
  width: 100%;
  height: 100%;
}

.graphBox-wrapper__clinical-notes__header {
  margin-bottom: 2rem;
}

#clincalNotesTextField {
  height: -webkit-fill-available;
  border-radius: 5px;
}

.graphBox-wrapper__clinical-notes__action-fields {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collapsed-child { 
  opacity: 0;
  display: none;
  visibility: hidden;
}


 textarea {
  height: 200px;
  margin-bottom: 10px;
  /* background-color: #dda2bb; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: none;
}

 .wrapper hr {
  margin: 40px auto;
 }
/* 
 @media only screen and (min-width: 1400px) {
  .wrapper {
  width: 85%;
  }
 }
 @media only screen and (max-width: 1399px) and (min-width: 750px) {
  .wrapper {
  width: 85%;
  }
 } */

.vertical {
  border-left: 1px solid black;
  height: 100%;
  position:absolute;
  left: 50%;
}

.height {
  position:relative;
  top:2px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d50059;
 }
.text-switch{
  align-items: flex-start;
}